<!DOCTYPE html>
<html>
  <head>
    <title>Tunr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Sign Up', new_user_path %>
    <%= link_to 'Sign In', login_path %>
    <%= yield %>
  </body>
</html>
